.breadcrumb-area {
  background-color: #f7f7f7;
  padding: 35px  0;
  margin-top: 1rem;

  span > span {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;

    a {
      color: #5b5858;
      text-decoration: none;

      a:hover {
        color: #a749ff;
      }
    }

    span {
      margin: 0 15px;
    }
  }
}