.sidebar-style {
  .sidebar-widget {
    margin-top: 60px;

    .pro-sidebar-title {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      color: #333;
    }

    .pro-sidebar-search-form {
      position: relative;
      margin-top: 30px;

      input {
        width: 100%;
        font-size: 14px;
        height: 43px;
        padding: 2px 55px 2px 18px;
        color: #000;
        border: 1px solid #efefef;
        outline: none;
        background: transparent none repeat scroll 0 0;
        box-shadow: none;
      }

      button {
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: 0;
        padding: 0 15px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        transform: translateY(-50%);
        color: #a1a5aa;
        border: none;
        border-left: 1px solid #a1a5aa;
        background: transparent none repeat scroll 0 0;

        &:hover {
          color: #a749ff;
        }
      }
    }

    .sidebar-widget-list {
      margin-top: 30px;

      ul {
        margin: 0;
        padding: 0;
        list-style: outside none none;

        li {
          position: relative;
          align-items: center;
          padding: 0 0 15px;

          button {
            position: relative;
            display: block;
            width: 100%;
            padding: 0 0 0 30px;
            text-align: left;
            text-transform: capitalize;
            border: none;
            background: none;
            font-size: 14px;

            .checkmark {
              position: absolute;
              left: 0;
              top: 15%;
              width: 15px;
              height: 15px;
              border: 2px solid #888;
              border-radius: 3px;
              background-color: #fff;
              line-height: 20px;
            }

            &:hover .checkmark {
              border-color: #a749ff;
              background-color: #a749ff;
            }
          }
        }
      }
    }

    .sidebar-widget-tags {
      margin-top: 30px;
      ul {
        margin: 0;
        padding: 0;
        list-style: outside none none;

        li {
          display: inline-block;
          margin: 0 10px 15px 0;

          button {
            line-height: 1;
            display: inline-block;
            padding: 9px 13px 12px;
            text-transform: capitalize;
            color: #424242;
            border: none;
            border-radius: 50px;
            background: none;
            background-color: #f6f6f6;

            &:hover {
              color: #fff;
              background-color: #a749ff;
            }
          }
        }
      }
    }
  }
}
